.header {
  width: 100%;
  padding: 0px 70px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  z-index: 1000;
  height: 60px;
  display: flex;
  justify-content: space-between
}

.header img{
  height: 100%;
}

.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #1A4861;
  font-weight: 600;
  font-size: 14px;
}

.nav-links li a:hover {
  color: #B2D190;
}
